%p The following date formats are accepted
%ul
  %li 2/4/2010 2pm
  %li 2/4/10 14:30
  %li this sunday at 4pm
  %li 4 Feb 2010 at 1700
%p The format "4 Feb at 3pm" is not acceptable. You must include a year.
%p <strong>The date-picker uses American-style dates</strong>. (ie. MM/DD/YY)