%h2 Past Activities

%p These activities have <strong>now passed</strong> and are here for reference only.

%table.eventlist{ :cellspacing => 0 }
  %thead
    %tr
      %th Title
      %th Date
  %tbody
    - @past_events.each do |event|
      %tr
        %td
          %a{:href => "/events/#{event.id}"} #{event.truncated_title}
        %td #{event.date}
  

        
