%h2 Cadet Access Codes
%p These access codes are to be kept private. Each cadet should be told their access code when their record is created.

%table.eventlist{ :cellspacing => 0 }
  %thead
    %tr
      %th Cadet
      %th Access Code
  %tbody
    - @cadets.each do |cadet|
      %tr
        %td
          %a{:href => "/cadets/#{cadet.id}"} #{cadet.full_name}
        %td.num #{cadet.code}
      