%h2 Add a Cadet
%form{:method => :post, :action => "/cadets"}
  %label{:name => :first_name} Name
  %input#first_name{:type => :text, :name => :first_name, :placeholder => "First name"}
  %input#surname{:type => :text, :name => :surname, :placeholder => "Surname"}
  
  %br
  %label{:name => :first_name} Section
  %input#section.short{:type => :text, :name => :section, :size => 5, :placeholder => "Section"}
  
  %br
  %input.submit{:type => :submit, :value => "Submit"}
  
%p You will be provided with an Auth Code. <strong>It is important that you give this to the cadet</strong> you're adding so that they can use the system.