<h4>Information Sheets</h4>
<p>None yet - they're on the way</p>
<ul style="display:none;">
  <li><a href="http://brightonaircadets.com/pdf/ji1.pdf">JI One</a></li>
  <li><a href="http://brightonaircadets.com/pdf/ji2.pdf">JI Two</a></li>
</ul>