#acapp #content {
  min-height: 500px;
}
#acapp .list {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 200px;
  margin-right: 20px;
  float:left;
}

#acapp #content h3 {
  font-weight: normal;
  font-size: 1.4em;
  margin-bottom: 1em;
  border-bottom: 1px solid #C2C8D2;
  width: 660px;
}

#acapp #content .list h3 {
  width: 100%;
}

#acapp .userlist {
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

#acapp ul {
  margin-left: 2em;
}

#acapp .event-description {
  margin-left: 1em;
  padding-left: 0.7em;
  border-left: 3px solid rgba(0,0,0,0.3);
}

#acapp #sidebar ul {
  margin-top: 1em;
}

table.eventlist {
  border: 1px solid rgba(0,0,0,0.4);
  background-color:  #FAEE98; //#FBDF37;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 auto 3em;
  width: 500px;
}

table.eventlist thead {
  font-weight: normal;
  font-size: 1.1em;
  color: #fff;
  background-color: #395C98;
  background-image: -moz-linear-gradient(100% 100% 90deg, #395C98, #7E94BE);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7E94BE), to(#395C98));
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

table.eventlist th {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
}
table.eventlist th, table.eventlist td {
  padding: 0.5em;
}

table.eventlist tr:nth-of-type(odd) {
  background: rgba(255,255,255, 0.3);
}

table.eventlist td:nth-of-type(even), table.eventlist th:nth-of-type(even) {
  background: rgba(150,0,0, 0.03);
}

table.eventlist td.num {
  text-align: center;
}



#acapp input[type="text"], input[type="password"], textarea {
  color: #575555;
  background: #fff;
  border: 1px solid #C2C8D2;
  width: 200px;
  font-size: 1.2em;
}

#acapp input[type="text"].short {
  width: 70px;
}

#acapp #title {
  width: 550px;
  font-size: 2em;
}

#acapp textarea {
  height: 150px;
}

#acapp textarea.tinymce {
  width: 550px;
}

#acapp .mceToolbar td:nth-of-type(even), #acapp .mceToolbar th:nth-of-type(even){
  background-color: transparent;
}

#acapp .mceToolbar {
  margin-bottom: 0;
  border: none;
}

#acapp input.submit {
  margin-left: 90px;
  margin-top: 1em;
}
#acapp label {
  width: 90px;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
}

#acapp .date {
  font-color: #C2C8D2;
  font-size: 1.2em;
  margin-top: -1em;
}

#acapp .timing {
  font-size: 0.8em;
  text-decoration: italic;
  margin-bottom: 0;
}

#acapp.allocate p {
  display: none;
}

#acapp .date_info {
  font-size: 0.75em;
  margin-left: 90px;
}

#acapp #signup-form fieldset, #acapp #signup-form legend {
  background: #F6F6F6;
}
#acapp #signup-form legend {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#acapp .flash {
  background: #FAEE98;
  font-size: 1.2em;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
  width: 630px;
}

#acapp .help-img {
  border: none;
  padding: 0;
  margin: -21px 0 0 10px;
  //width: 100%;
  opacity: 0.9;
}

#acapp .admin-notice {
  color: red;
}
